:root{
  --theme-primary-color: #1360EF;
  --theme-secondary-color: #F94F15;
}
body {
  margin: 0;
  font-family: 'Poppins', sans-serif !important;
  font-style: normal;
  transition: all 0.5s ease-in-out 0s;
  color: #1d1d33;
}

.text-primary-color{
  color: var(--theme-primary-color) !important;
}

.normal{
  font-weight: normal !important;
}
.bold{
  font-weight: bold !important;
}
.bold-500{
  font-weight: 500 !important;
}
.bold-600{
  font-weight: 600 !important;
}
.fs-14{
  font-size: 14px !important;
}
.fs-20{
  font-size: 20px !important;
}
.fs-55{
  font-size: 55px !important;
}
.fs-45{
  font-size: 45px !important;
}
.btn-primary-color, .btn-outline-primary-color{
  color: #fff !important;
  background-color: #1360ef !important;
  border-color: #1360ef !important;
  transition: 500ms !important;
}

.btn-outline-primary-color{
  background-color: transparent !important;
  color: var(--theme-primary-color) !important;
}

.btn-primary-color:hover{
  background-color: var(--theme-secondary-color) !important;
  border-color: var(--theme-secondary-color) !important;
}

.btn-outline-primary-color:hover{
  color: white !important;
  background-color: var(--theme-secondary-color) !important;
  border-color: var(--theme-secondary-color) !important;
}


.bg-light-primary-color{
  background-color: #E7EFFD;
}


.horizontal-scrollable > .row {
  overflow-x: auto;
  white-space: nowrap;
}

.horizontal-scrollable > .row > .col-xs-4 {
  display: inline-block;
  float: none;
}


/* Decorations */
          
.col-xs-4 {
  color: white;
  font-size: 24px;
  padding-bottom: 20px;
  padding-top: 18px;
}

.col-xs-4:nth-child(2n+1) {
  background: green;
}

.col-xs-4:nth-child(2n+2) {
  background: black;
}

.hover-translate{
  transition: all 0.5s ease-in-out 0s;
}

.bg-primary-soft {
  background-color: rgba(19, 96, 239, 0.01);
}

p{
  color: #8090b5;
  line-height: 1.7;
}

.hover-translate:hover {
  box-shadow: 0 10px 55px 5px rgb(137 173 255 / 15%);
  background-color: #fff;
  -webkit-transform: translate3d(0, -20px, 0);
  -moz-transform: translate3d(0, -20px, 0);
  transform: translate3d(0, -20px, 0);
}

.pb-7, .py-7 {
  padding-bottom: 3rem !important;
}
.pt-7, .py-7 {
  padding-top: 3rem !important;
}
.lead {
  font-size: 1.25rem !important;
  font-weight: 300 !important;
}

.badge-primary-soft {
  background-color: rgba(19, 96, 239, .1);
  color: #1360ef;
}

.top {
  transform: rotate(180deg);
}

.bg-dark-bluish{
  background-color: #060927;
}


#header-logo {
  width: 70%;
  height: auto;
}

.sticky {
  position: fixed;
  top: 0px;
  right: 0px;
  width: 100%;
}

.z-999{
  z-index: 999 !important;
}
